@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

//Primary Colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);

//Neutral Colors
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(210, 4%, 67%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    background-color: hsl(30, 100%, 99%);
    font-family: 'Barlow', sans-serif;
}

.main{
    min-width: 375px;
    margin: 0 auto;
    h1, h2{
        font-family: 'Fraunces', sans-serif;
    }

    .header{
        height: 90vh;
        width: 100%;
        padding: 30px;
        background-image: url(../images/desktop/image-header.jpg);
        background-size: cover;
        background-position: bottom;
        .logo{
            // width: 80px;
            position: absolute;
            top: 30px;
            left: 30px;
        }
        .hamburger{
            width: 25px;
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
        .arrow-down{
            position: absolute;
            left: 50%;
            transform: translate(-50%, 280px);
        }
    }

    .nav{
        background-color: $white;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(0, 70px);
        p{
            margin-bottom: 20px;
            cursor: pointer;
            color: $veryDarkGrayishBlue;
        }

        p:last-of-type{
            background-color: $yellow;
            padding: 10px 20px 10px 20px;
            border-radius: 30px;
            text-transform: uppercase;
            font-family: 'Fraunces', sans-serif;
            color: #000;
        }
    }

    .main-heading{
        position: absolute;
        top: 30%;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 10px;
        font-size: 40px;
        transform: translate(-50%, -50%);
    }

    .hidden{
        display: none;
    }
}

.specialty{
    min-height: 100vh;
    img{
        width: 100%;
    }
    .text{
        padding: 60px 40px 60px 40px;
        text-align: center;
        color: $veryDarkGrayishBlue;
        h1{
            margin-bottom: 40px;
            color: #000;
        }
        p{
            line-height: 30px;
        }
        p:last-of-type::after{
            content: "";
            display: block;
            margin-top: 30px;
        }
        a{
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            border-bottom: 5px solid #000;
        }

        a.red{
            border-bottom-color:rgb(240, 185, 178);
        }
        a.red:hover{
            border-bottom-color: $softRed;
        }
        a.yellow{
            border-bottom-color: hsl(52, 77%, 76%); 
        }
        a.yellow:hover{
            border-bottom-color: $yellow;
        }
    }
}

.specialtyThree{
    background-image: url('../images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    padding-top: 70vh;
    min-height: 50vh;
}

.specialtyFour{
    background-image: url('../images/mobile/image-photography.jpg');
    background-size: cover;
    background-position: top;
    padding-top: 70vh;
}

.for-client{
    margin-top: 70px;
    text-align: center;
    color: $veryDarkGrayishBlue;
}

.client-testimonials{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 50px 0 50px;
    color: initial;
    div{
        text-align: center;
        margin-bottom: 50px;
        padding: 20px;
        img{
            width: 100px;
            border-radius: 50%;
            margin-bottom: 40px;
        }
        .name{
            margin: 50px 0 20px 0;
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
        }
        .position{
            color: $grayishBlue;
        }
    }
}

.image-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        width: 50%;
    }
}

.footer{
    background-color: $darkModerateCyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
    .footer-links{
        display: flex;
        flex-direction: row;
        width: 400px;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 80px;
        color: $veryDarkGrayishBlue;
        p:hover{
            color: $white;
            cursor: pointer;
        }
    }
    .social-links{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img:hover{
            cursor: pointer;
        }
    }
}

@media (min-width: 750px){
    .main .header{
        background-image: url('../images/desktop/image-header.jpg');
        height: 100vh;
        .nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 40%;
            height: 0vh;
            background-color: none;
            position: absolute;
            right: 0px;
            top: 40px;
            transform: none;
            p{
                margin: 0;
                cursor: pointer;
                color: $white;
            }
            p:last-of-type{
                background-color: $white;
                padding: 10px 20px 10px 20px;
                border-radius: 30px;
                text-transform: uppercase;
                font-family: 'Fraunces', sans-serif;
                color: #000;
            }
            p:last-of-type:hover{
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
        .hamburger{
            display: none;
        }
    }

    .specialty{
        min-height: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // flex-wrap: wrap;
        .image, .text{
            width: 50%;
        }
    }

    .specialtyTwo{
        display: flex;
        flex-direction: row;
    }

    .background-specialty{
        display: flex;
        flex-direction: row;
    }

    .specialtyThree{
        width: 50%;
        background-image: url(../images/desktop/image-graphic-design.jpg);
        display: flex;
        flex-direction: column;
        padding-top: 50vh;
        .text{
            width: 100%;
        }
    }
    .specialtyFour{
        width: 50%;
        background-image: url(../images/desktop/image-photography.jpg);
        display: flex;
        flex-direction: column;
        padding-top: 50vh;
        .text{
            width: 100%;
        }
    }

    .image-grid{
        flex-wrap: nowrap;
        img{
            width: 25%;
        }
    }

    .client-testimonials{
        display: flex;
        flex-direction: row;
    }
}

